<div class="container">
    <div class="row pt-5 pb-5" *ngIf="!sortedByName">

        <h1 class="p-4 text-center mb-5">All races</h1>

        <div class="container px-5 pb-4 d-flex flex-column align-items-center">
            <button class="btn btn-primary mt-4" (click)="onSortName()" > Sort by race name</button>
        </div>

        <div class="col-lg-4 col-md-12 col-sm-12" *ngFor="let race of races">
            <div class="card bg-dark text-white m-4">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                    <h4 class="card-title">{{ race.name }}</h4>
                    <hr class ="card-separator">
                    <p class="card-text"> Country: {{ race.country }}, <br>
                                        Number of laps: {{ race.numberOfLaps }}, <br>
                                        Lap length: {{ race.lapLength }}, <br>
                                        Date: {{ race.date | date: "MMM. dd. yyyy" }}
                    <div class="dropdown">
                        <div class="btn-group float-end">
                            <button class="btn btn-secondary btn-sm dropdown-toggle dropdown-button-with-svg" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                <img class="settings-svg" src="assets/settings.png">
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" [routerLink]="['/race-details-component', race.id]">Details</a>
                                <a class="dropdown-item" [routerLink]="['/race-update-component', race.id]">Update</a>
                                <a class="dropdown-item" (click)="onDeleteRace(race.id)"> Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row pt-5 pb-5" *ngIf="sortedByName">

        <h1 class="p-4 text-center mb-5">Races sorted by name</h1>

        <div class="container px-5 pb-4 d-flex flex-column align-items-center">
            <button class="btn btn-primary mt-4" (click)="listRaces()" > Unsort </button>
        </div>

        <div class="col-lg-4 col-md-12 col-sm-12" *ngFor="let race of races">
            <div class="card bg-dark text-white m-4">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                    <h4 class="card-title">{{ race.name }}</h4>
                    <hr class ="card-separator">
                    <p class="card-text"> Country: {{ race.country }}, <br>
                                        Number of laps: {{ race.numberOfLaps }}, <br>
                                        Lap length: {{ race.lapLength }}, <br>
                                        Date: {{ race.date | date: "MMM. dd. yyyy" }}
                    <div class=”dropdown”>
                        <div class="btn-group float-end">
                            <button class="btn btn-secondary btn-sm dropdown-toggle dropdown-button-with-svg" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                <img class="settings-svg" src="assets/settings.png">
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" [routerLink]="['/race-details-component', race.id]">Details</a>
                                <a class="dropdown-item" [routerLink]="['/race-update-component', race.id]">Update</a>
                                <a class="dropdown-item" (click)="onDeleteRace(race.id)"> Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

</div>