
<div class="container">
    <div class="row p-5">
        <h1 class="p-4 text-center mb-5">All races</h1>
        <!-- <button class="btn-primary" routerLink="race-add-component"> Add  race </button> -->
        <div class="col-sm-3" *ngFor="let race of races">
            <div class="card bg-dark text-white m-4">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                    <h4 class="card-title">{{ race.name }}</h4>
                    <hr class ="card-separator">
                    <p class="card-text"> Country: {{ race.country }}, <br>
                                        Number of laps: {{ race.numberOfLaps }}, <br>
                                        Lap length: {{ race.lapLength }}, <br>
                                        Date: {{ race.date | date: "MMM. dd. yyyy" }}
                    <div class=”dropdown”>
                        <div class="btn-group float-end">
                            <button class="btn btn-secondary btn-sm dropdown-toggle dropdown-button-with-svg" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                <img class="settings-svg" src="assets/settings.png">
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" [routerLink]="['/race-update-component', race.id]" (click)="onUpdateRace(race.id)">Update</a>
                                <a class="dropdown-item" (click)="onDeleteRace(race.id)"> Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>