.dropdown-button-with-svg {
    background-color: transparent;
    border: 0;
}

.dropdown-button-with-svg:hover {
    background-color: transparent;
    border: 0;
}

.settings-svg {
    height: 1rem;
    width: 1rem;
}

.card-separator{
    color: white
}

.card {
    min-height: 15rem;
}

.container-padding {
    padding: 8rem;
}

.pagination .page-custom {
    cursor: pointer;
}