<div class="container-fluid container-padding ">
    <div class="row pb-5 m-0">

        <h1 class="p-4 text-center mb-5" *ngIf="!sortedByName"><b>All races</b></h1>

        <div class="container px-5 pb-4 d-flex flex-column align-items-center" *ngIf="!sortedByName">
            <button class="btn btn-primary mt-4" (click)="onSortName()"> Sort by race name</button>
        </div>

        <h1 class="p-4 text-center mb-5" *ngIf="sortedByName"><b>Races sorted by name</b></h1>

        <div class="container px-5 pb-4 d-flex flex-column align-items-center" *ngIf="sortedByName">
            <button class="btn btn-primary mt-4" (click)="listRaces()" > Unsort </button>
        </div>

        <div class="col-lg-4 col-md-12 col-sm-12" *ngFor="let race of races">
            <div class="card bg-dark text-white m-4">
                <div class="card-body">
                    <h4 class="card-title"><b>{{ race.name }}</b></h4>
                    <hr class ="card-separator">
                    <p class="card-text"> Country: <b>{{ race.country }}</b></p>
                    <p class="card-text"> Number of laps: <b>{{ race.numberOfLaps }}</b></p>
                    <p class="card-text"> Lap length: <b>{{ race.lapLength }}</b></p>
                    <p class="card-text"> Date: <b>{{ race.date | date: "MMM. dd. yyyy" }}</b></p>
                    <div class="dropdown">
                        <div class="btn-group float-end">
                            <button class="btn btn-secondary btn-sm dropdown-toggle dropdown-button-with-svg" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                <img class="settings-svg" src="assets/settings.png">
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" [routerLink]="['/race-details-component', race.id]">Details</a>
                                <a class="dropdown-item" [routerLink]="['/race-update-component', race.id]">Update</a>
                                <a class="dropdown-item" (click)="onDeleteRace(race.id)"> Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <mat-paginator #paginator
               class="demo-paginator"
               (page)="onPageChanged($event)"
               [length]="noPages * pageSize"
               [pageSize]="pageSize"
               [showFirstLastButtons]="true"
               [pageSizeOptions]="[10, 25, 50]"
               [pageIndex]="pageNumber"
               aria-label="Select page">
    </mat-paginator>

</div>