
Hw4/database_generators/queries/insert_pilots.sql
Hw4/database_generators/queries/insert_cars.sql
Hw4/database_generators/queries/insert_races.sql
Hw4/database_generators/queries/insert_participations.sql
