<div class="container-fluid p-5 mb-5 d-flex align-items-center justify-content-center" *ngIf="participation">
    <div [hidden]="submitted">
      <h1 class="mt-5 mb-5"><b>Update participation</b></h1>     

      <form (ngSubmit)="onSubmit()" #participationForm="ngForm">
        <div class="form-group">
          <label for="startPosition">Start position</label>
          <input type="number" class="form-control" id="startPosition"
                 required
                 disabled="true"
                 [(ngModel)]="this.participation.startPosition" name="startPosition"
                 #participationStartPosition="ngModel">
          <div [hidden]="participationStartPosition.valid || participationStartPosition.pristine" class="alert alert-danger">
            St. position is required.
          </div> 
        </div>
  
        <div class="form-group">
            <label for="needAccommodation">Need accomodation</label>
            <mat-select class="form-control" id="needAccommodation" 
                    required
                   [(ngModel)]="this.needAccommodation" name="needAccommodation"
                   #participationNeedAccomodation="ngModel">
                <mat-option value="true">True</mat-option>
                <mat-option value="false">False</mat-option>
            </mat-select>
            <div [hidden]="participationNeedAccomodation.valid || participationNeedAccomodation.pristine" class="alert alert-danger">
              Must be true of false.
            </div>        
        </div>

        <div class="form-group">
            <label>Pilot</label>
            <input type="text" name="options" class="form-control" placeholder="Select a pilot, search by last name" 
            matInput [(ngModel)]="this.pilotId" #carSearchInput required disabled="true">
        </div>
  
        <button type="submit" class="btn btn-success mt-4 d-flex flex-column" [disabled]="!participationForm.form.valid">Update</button>
        <button type="button" class="btn btn-secondary mt-2 d-flex flex-column" (click)="participationForm.reset()">Reset form</button>
        <button type="button" class="btn btn-primary mt-2" (click)="onBackToRaceDetailsPage()">Back to race page</button>
      </form>

    </div>
  </div>