<div class="video-bg">
  <video src="assets/main-page-video2.webm" autoplay muted loop></video>
</div>

<div class="container mx-auto py-5 mb-5 text-white">

  <div id="carousel" class="carousel slide px-5 mb-5" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <h2>First slide</h2>
        <p>This is the first slide in the carousel.</p>
      </div>
      <div class="carousel-item">
        <h2>Second slide</h2>
        <p>This is the second slide in the carousel.</p>
      </div>
      <div class="carousel-item">
        <h2>Third slide</h2>
        <p>This is the third slide in the carousel.</p>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  <p class="p-4 m-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consectetur augue vel elit lacinia,
     in tincidunt justo mattis. Integer laoreet purus nunc, in mollis lectus bibendum eget.
      Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
      Morbi dictum libero a velit vestibulum, ac tristique elit suscipit.</p>
  <p class="p-2 m-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consectetur augue vel elit lacinia,
     in tincidunt justo mattis. Integer laoreet purus nunc, in mollis lectus bibendum eget.
      Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
      Morbi dictum libero a velit vestibulum, ac tristique elit suscipit.</p>
  <p class="p-2 m-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consectetur augue vel elit lacinia,
     in tincidunt justo mattis. Integer laoreet purus nunc, in mollis lectus bibendum eget.
      Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
      Morbi dictum libero a velit vestibulum, ac tristique elit suscipit.</p>
  <p class="p-2 m-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consectetur augue vel elit lacinia,
     in tincidunt justo mattis. Integer laoreet purus nunc, in mollis lectus bibendum eget.
      Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
      Morbi dictum libero a velit vestibulum, ac tristique elit suscipit.</p>
  <p class="p-4 m-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consectetur augue vel elit lacinia,
     in tincidunt justo mattis. Integer laoreet purus nunc, in mollis lectus bibendum eget.
      Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
      Morbi dictum libero a velit vestibulum, ac tristique elit suscipit.</p>
  <p class="p-4 m-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consectetur augue vel elit lacinia,
     in tincidunt justo mattis. Integer laoreet purus nunc, in mollis lectus bibendum eget.
      Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
      Morbi dictum libero a velit vestibulum, ac tristique elit suscipit.</p>

</div>