<div class="container-fluid container-padding ">
    <div class="row pb-5 m-0">

        <h1 class="p-4 text-center mb-5"><b>Race statistic, ordered by the number of pilots descending</b></h1>

        <div class="col-lg-4 col-md-12 col-sm-12" *ngFor="let race of raceStatistics; let i = index">
            <div class="card bg-dark text-white m-4">
                <div class="card-body">
                    <h4 class="card-title"><b>#{{i + 1}} Race id: {{ race.raceID }}</b></h4>
                    <hr class ="card-separator">
                    <p class="card-text"> Name: <b>{{ race.name }}</b></p>
                    <p class="card-text"> Number of pilots: <b>{{ race.numberOfPilots }}</b></p>
                </div>
            </div>
        </div>

    </div>
</div>