<div class="container-fluid p-5 mb-5 d-flex align-items-center justify-content-center" *ngIf="race">
    <div [hidden]="submitted">
      <h1 class="mt-5 mb-5">Update the race</h1>     
      <form (ngSubmit)="onSubmit()" #raceForm="ngForm">

        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name"
                 required
                 [(ngModel)]="race.name" name="name"
                 #name="ngModel">
          <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
            Name is required.
          </div>
        </div>
  
        <div class="form-group">
            <label for="country">Country</label>
            <input type="text" class="form-control" id="country"
                   required
                   [(ngModel)]="race.country" name="country"
                   #country="ngModel">
            <div [hidden]="country.valid || country.pristine" class="alert alert-danger">
              Country is required.
            </div>
        </div>

        <div class="form-group">
            <label for="noLaps">Number Of Laps</label>
            <input type="number" class="form-control" id="noLaps"
                   required
                   min="5"
                   max="15"
                   [(ngModel)]="race.numberOfLaps" name="noLaps"
                   #noLaps="ngModel">
            <div [hidden]="noLaps.valid || noLaps.pristine" class="alert alert-danger">
                 Number between 5 and 15.
            </div>
        </div>

        <div class="form-group">
            <label for="lapLength">Lap length</label>
            <input type="number" class="form-control" id="lapLength"
                   required
                   [(ngModel)]="race.lapLength" name="lapLength"
                   min="30"
                   max="80"
                   #lapLength="ngModel">
            <div [hidden]="lapLength.valid || lapLength.pristine" class="alert alert-danger">
              Number between 30 and 80.
            </div>
        </div>

        <div class="form-group">
            <label for="date">Date</label>
            <input type="date" class="form-control" id="date"
                   required
                   [(ngModel)]="race.date" name="date"
                   #date="ngModel">
            <div [hidden]="date.valid || date.pristine" class="alert alert-danger">
              Date is required.
            </div>
        </div>
  
        <button type="submit" class="btn btn-success mt-4 d-flex flex-column" [disabled]="!raceForm.form.valid">Update</button>
        <button type="button" class="btn btn-secondary mt-2 d-flex flex-column" (click)="raceForm.reset()">Reset form</button>
        <button type="button" class="btn btn-primary mt-2" (click)="onBackToRacePage()">Back to race page</button>

      </form>
    </div>