<div class="container-fluid p-5 mb-5 d-flex align-items-center justify-content-center">
    <div [hidden]="submitted">
      <h1 class="mt-5 mb-5 text-center">Add new race</h1>     

      <form (ngSubmit)="onSubmit()" #raceForm="ngForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name"
                 required
                 [(ngModel)]="name" name="name"
                 #raceName="ngModel">
          <div [hidden]="raceName.valid || raceName.pristine" class="alert alert-danger">
            Name is required.
          </div>   
        </div>
  
        <div class="form-group">
            <label for="country">Country</label>
            <input type="text" class="form-control" id="country"
                   required
                   [(ngModel)]="country" name="country"
                   #raceCountry="ngModel">   
            <div [hidden]="raceCountry.valid || raceCountry.pristine" class="alert alert-danger">
              Country is required.
            </div>    
        </div>

        <div class="form-group">
            <label for="noLaps">Number Of Laps</label>
            <input type="number" class="form-control" id="noLaps"
                   required
                   min="5"
                   max="15"
                   [(ngModel)]="numberOfLaps" name="noLaps"
                   #raceNumberOfLaps="ngModel">
            <div [hidden]="raceNumberOfLaps.valid || raceNumberOfLaps.pristine" class="alert alert-danger">
              Number between 5 and 15.
            </div>
        </div>

        <div class="form-group">
            <label for="lapLength">Lap length</label>
            <input type="number" class="form-control" id="lapLength" step="10"
                   required
                   min="30"
                   max="80"
                   [(ngModel)]="lapLength" name="lapLength"
                   #raceLapLength="ngModel">
            <div [hidden]="raceLapLength.valid || raceLapLength.pristine" class="alert alert-danger">
              Number between 30 and 80.
            </div>
        </div>

        <div class="form-group">
            <label for="date">Date</label>
            <input type="date" class="form-control" id="date"
                   required
                   [(ngModel)]="date" name="date"
                   #raceDate="ngModel">
            <div [hidden]="raceDate.valid || raceDate.pristine" class="alert alert-danger">
              Date is required.
            </div>
        </div>
  
        <button type="submit" class="btn btn-success mt-4 d-flex flex-column" [disabled]="!raceForm.form.valid">Add</button>
        <button type="button" class="btn btn-secondary mt-2 d-flex flex-column" (click)="resetForm(); raceForm.reset()">Reset form</button>
        <button type="button" class="btn btn-primary mt-2" (click)="onBackToRacePage()">Back to race page</button>
      </form>

    </div>
  </div>