<div class="container-fluid" [ngClass]="{ 'container-padding': isPc }">
    <div class="row pb-5 m-0">
        <h1 class="p-4 text-center mb-5"><b>All pilots</b></h1>
        <div class="col-lg-4 col-md-12 col-sm-12" *ngFor="let pilot of pilots">
            <div class="card bg-dark text-white m-4">
                <div class="card-body">
                    <h4 class="card-title text"><b>{{ pilot.lastName }} {{ pilot.firstName }}</b></h4>
                    <hr class ="card-separator">
                    <p class="card-text"> Nationality: <b>{{ pilot.nationality }}</b></p>
                    <p class="card-text"> Birth date: <b>{{ pilot.date | date: "MMM. dd. yyyy" }}</b></p>                    
                    <p class="card-text"> Driving experience: <b>{{ pilot.drivingExperience }}</b></p>
                    <p class="card-text"> Number of races: <b>{{ pilot.numberOfRaces }}</b></p>
                    <p class="card-text"> Added by: <b><a [routerLink]="['/profile', pilot.username]">{{ pilot.username }}</a></b></p>
                    <div class=”dropdown”>
                        <div class="btn-group float-end">
                            <button class="btn btn-secondary btn-sm dropdown-toggle dropdown-button-with-svg" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                <img class="settings-svg" src="assets/settings.png">
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" [routerLink]="['/pilot-details-component', pilot.id]">Details</a>
                                <a class="dropdown-item" [routerLink]="['/pilot-update-component', pilot.id]"  *ngIf="isUpdatable(pilot.username)">Update</a>
                                <a class="dropdown-item" (click)="onDeletePilot(pilot.id)" *ngIf="isDeletable()"> Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <mat-paginator #paginator
               class="demo-paginator"
               (page)="onPageChanged($event)"
               [length]="noPages * pageSize"
               [pageSize]="pageSize"
               [showFirstLastButtons]="true"
               [pageSizeOptions]="[10, 25, 50]"
               [pageIndex]="pageNumber"
               aria-label="Select page">
    </mat-paginator>


</div>
