<div class="container">
    <div class="row pt-5 pb-5">
        <h1 class="p-4 text-center mb-5">All pilots</h1>
        <div class="col-lg-4 col-md-12 col-sm-12" *ngFor="let pilot of pilots">
            <div class="card bg-dark text-white m-4">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                    <h4 class="card-title">{{ pilot.lastName }} {{ pilot.firstName }} </h4>
                    <hr class ="card-separator">
                    <p class="card-text"> Nationality: {{ pilot.nationality }}, <br>
                                        Birth date: {{ pilot.date | date: "MMM. dd. yyyy" }}, <br>
                                        Driving experience: {{ pilot.drivingExperience }}, <br>
                    <div class=”dropdown”>
                        <div class="btn-group float-end">
                            <button class="btn btn-secondary btn-sm dropdown-toggle dropdown-button-with-svg" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                <img class="settings-svg" src="assets/settings.png">
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" [routerLink]="['/pilot-details-component', pilot.id]">Details</a>
                                <a class="dropdown-item" [routerLink]="['/pilot-update-component', pilot.id]">Update</a>
                                <a class="dropdown-item" (click)="onDeletePilot(pilot.id)"> Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
