<div class="container-fluid" [ngClass]="{ 'container-padding': isPc }">
    <div class="container px-5">
        <div class="my-2 my-lg-0 p-5">
          <input class="form-control mr-sm-2" type="number" step="500" placeholder="Search by cylindrical capacity" aria-label="Search" [(ngModel)]="searchTerm" (ngModelChange)="onSearch()" >
        </div>
    </div>
    <div class="row pb-5 m-0">

        <h1 class="p-4 text-center mb-5" *ngIf="searchTerm == null || searchTerm == ''"><b>All cars</b></h1>
        <h1 class="p-4 text-center mb-5" *ngIf="searchTerm != null && searchTerm != ''"><b>All cars with cylindrical capacity greater than: {{ this.searchTerm }}</b></h1>

        <div class="col-lg-4 col-md-12 col-sm-12" *ngFor="let car of cars">
            <div class="card bg-dark text-white m-4">
                <div class="card-body">
                    <h4 class="card-title"><b>{{ car.brand }}</b></h4>
                    <hr class ="card-separator">
                    <p class="card-text"> Motorization: <b>{{ car.motorization }}</b></p>
                    <p class="card-text"> Gear box: <b>{{ car.gearBox }}</b></p>
                    <p class="card-text"> Cylindrical capacity: <b>{{ car.cylindricalCapacity }}</b></p>
                    <p class="card-text"> Horse power: <b>{{ car.horsePower }}</b></p>
                    <p class="card-text"> Pilot id: <b>{{ car.pilotID }}</b></p>
                    <p class="card-text"> Added by: <b><a [routerLink]="['/profile', car.username]">{{ car.username }}</a></b></p>
                    <div class=”dropdown”>
                        <div class="btn-group float-end">
                            <button class="btn btn-secondary btn-sm dropdown-toggle dropdown-button-with-svg" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                <img class="settings-svg" src="assets/settings.png">
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" [routerLink]="['/car-details-component', car.id]">Details</a>
                                <a class="dropdown-item" [routerLink]="['/car-update-component', car.id]" *ngIf="isUpdatable(car.username)">Update</a>
                                <a class="dropdown-item" (click)="onDeleteCar(car.id)" *ngIf="isDeletable()"> Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <mat-paginator #paginator
        class="demo-paginator"
        (page)="onPageChanged($event)"
        [length]="noPages * pageSize"
        [pageSize]="pageSize"
        [showFirstLastButtons]="true"
        [pageSizeOptions]="[10, 25, 50]"
        [pageIndex]="pageNumber"
        aria-label="Select page">
    </mat-paginator>

</div>
