<div class="container text-center mb-3 p-5 mt-5 d-flex flex-column align-items-center justify-content-center" *ngIf="race">
    
    <div class="row p-3" *ngIf="race.pilots.length != 0" >

        <h2 class="p-4 text-center mb-5"><b>All the pilots that will attend to the race</b></h2>

        <div class="col-sm-3" *ngFor="let pilot of race.pilots">
            <div class="card bg-dark m-4 text-white">
                <div class="card-body">
                    <h4 class="card-title">Pilot id: {{ pilot.pilotId }}</h4>
                    <hr class="card-separator">
                    <p class="card-text"> Starting position: <b>{{ pilot.startPosition }}</b></p>
                    <p class="card-text"> Need accomodation: <b>{{ pilot.needAccommodation }}</b></p>
                    <div class="dropdown">
                        <div class="btn-group float-end">
                            <button class="btn btn-secondary btn-sm dropdown-toggle dropdown-button-with-svg" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                <img class="settings-svg" src="assets/settings.png">
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" [routerLink]="['/race-participation-update-component', pilot.pilotId, race.id]">Update</a>
                                <a class="dropdown-item" (click)="onDeleteParticipation(pilot.pilotId)"> Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <div class="row p-3" *ngIf="race.pilots.length == 0" >
        <h2 class="p-4 text-center mb-5"><b>No pilots will currently attend to the race</b></h2>
    </div>

    <div class="card p-5">

        <div class="card-title">
            <h1><b>Race details</b></h1>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item"> Name: <b> {{ race.name }} </b></li>
            <li class="list-group-item"> Country: <b> {{ race.country }} </b></li>
            <li class="list-group-item"> Number of laps: <b> {{ race.numberOfLaps }} </b></li>
            <li class="list-group-item"> Lap length: <b> {{ race.lapLength }} </b></li>
            <li class="list-group-item"> Date: <b> {{ race.date | date: "MMM. dd. yyyy" }} </b></li>
        </ul>

    </div>

    <button class="btn btn-primary m-5" [routerLink]="['/race-participation-add-component', race.id, nextParticipation]"> Add new participation </button>
    <button class="btn btn-primary m-5 mt-0" (click)="onBackToRacePage()" > Back to the race page </button>

</div>