<div class="container-fluid p-5 mb-5 d-flex align-items-center justify-content-center">
    <div [hidden]="submitted">
      <h1 class="mt-5 mb-5 text-center">Add new pilot</h1>     

      <form (ngSubmit)="onSubmit()" #pilotForm="ngForm">
        <div class="form-group">
          <label for="firstName">First name</label>
          <input type="text" class="form-control" id="firstName"
                 required
                 [(ngModel)]="firstName" name="firstName"
                 #pilotFirstName="ngModel">
          <div [hidden]="pilotFirstName.valid || pilotFirstName.pristine" class="alert alert-danger">
            Pilot first name is required.
          </div>
        </div>
  
        <div class="form-group">
            <label for="lastName">Last name</label>
            <input type="text" class="form-control" id="lastName"
                   required
                   [(ngModel)]="lastName" name="lastName"
                   #pilotLastName="ngModel">
            <div [hidden]="pilotLastName.valid || pilotLastName.pristine" class="alert alert-danger">
              Pilot last name is required.
            </div>   
        </div>

        <div class="form-group">
            <label for="nationality">Nationality</label>
            <input type="text" class="form-control" id="nationality"
                   required
                   [(ngModel)]="nationality" name="nationality"
                   #pilotCountry="ngModel">
            <div [hidden]="pilotCountry.valid || pilotCountry.pristine" class="alert alert-danger">
              Pilot country is required.
            </div> 
        </div>

        <div class="form-group">
            <label for="date">Birth date</label>
            <input type="date" class="form-control" id="date"
                   required
                   [(ngModel)]="date" name="date"
                   #pilotBirthDate="ngModel">
            <div [hidden]="pilotBirthDate.valid || pilotBirthDate.pristine" class="alert alert-danger">
              Pilot birth date is required.
            </div> 
        </div>

        <div class="form-group">
            <label for="drivingExperience">Driving experience</label>
            <input type="number" class="form-control" id="drivingExperience"
                   required
                   min="3"
                   max="25"
                   [(ngModel)]="drivingExperience" name="drivingExperience"
                   #pilotDrivingExperience="ngModel">
            <div [hidden]="pilotDrivingExperience.valid || pilotDrivingExperience.pristine" class="alert alert-danger">
              Number between 3 and 25.
            </div> 
        </div>
  
        <button type="submit" class="btn btn-success mt-4 d-flex flex-column" [disabled]="!pilotForm.form.valid">Add</button>
        <button type="button" class="btn btn-secondary mt-2 d-flex flex-column" (click)="resetForm(); pilotForm.reset()">Reset form</button>
        <button type="button" class="btn btn-danger mt-2" (click)="onBacktoPilotPage()">Abort changes</button>

      </form>

  </div>
</div>